.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fc;
  height: 100vh;
  width: 100%;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 5px;

  background-color: #ffffff;
  padding: 40px 50px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.login-title {
  margin-bottom: 0px;
  color: #4f46e5;
  font-size: 28px;
  font-weight: 700;
}

.login-subtitle {
  color: #6b7280;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
}

.login-form input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #d1d5db;
  border-radius: 5px;
  font-size: 14px;
  outline: none;
}

.login-form input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 2px rgba(79, 70, 229, 0.2);
}

.login-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
  width: 100%;
  box-sizing: border-box;
}

.login-button:hover {
  background-color: #4338ca;
}

.login-form label {
  font-size: 14px;
  font-weight: 600;
}

.error-msg{
  color: red;
  font-size: 13px;
}